.navbar {
	background-color: #494138;
	display: flex;
}

.navbar-Button {
	text-transform: none !important;
	background-color: transparent !important;
	color: black !important;
	border: 2px !important;
	height: 40px;
	width: fit-content !important;
	border-radius: 20px !important;
	padding: 10px 20px !important;
	font-size: 14px !important;
	font-weight: bold !important;
	transition: background-color 0.3s ease, color 0.3s ease !important;
}